body{
	background: #e7e6e1;	
	font-family: system-ui;
	text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#full-pag{
	box-shadow: inset 1px 1px 5px;
}


.hori-bar {
	display: inline-block;
	width: 20px;
	height: 10px;
	background: #fa0f45;
}

.gonza {
	font-family: system-ui;
	display: inline-block;
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
	color: #fa0f45;
}

#salute-emoji{
	font-size: 4vw;
}

#salute-arrow{
	text-align: center;
}

#title{
	font-size: 6vw;
	color: #fa0f45;
}

#introduce{
	color: #f2a154;
	font-size: 2vw;
}

.input {
	width: 400px;
	border-radius: 8px; /*  le da borde circular al input */
}

.wrap-link {
	display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
	flex-wrap: wrap-reverse;
	
}

.git-link img {
	width: 30px;
}

.ig-link img {
	width: 30px;	
}

.fb-link img {
	width: 30px;	
}

.linkedIn-link img {
	width: 30px;
}